@font-face {
  font-family: "MyriadPro-Regular";
  src: url("assets/fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
    url("assets/fonts/MyriadPro-Regular/MyriadPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anton-Regular";
  src: url("assets/fonts/Anton-Regular/Anton-Regular.woff") format("woff"),
    url("assets/fonts/Anton-Regular/Anton-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Asap-Regular";
  src: url("assets/fonts/Asap-Regular/Asap-Regular.woff") format("woff"),
    url("assets/fonts/Asap-Regular/Asap-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Asap-MediumItalic";
  src: url("assets/fonts/Asap-MediumItalic/Asap-MediumItalic.woff") format("woff"),
    url("assets/fonts/Asap-MediumItalic/Asap-MediumItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("assets/fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"),
    url("assets/fonts/Montserrat-Bold/Montserrat-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MontserratItalic";
  src: url("assets/fonts/MontserratItalic/MontserratItalic.woff") format("woff"),
    url("assets/fonts/MontserratItalic/MontserratItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-BoldItalic";
  src: url("assets/fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.woff") format("woff"),
    url("assets/fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("assets/fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"),
    url("assets/fonts/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("assets/fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff") format("woff"),
    url("assets/fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Montserrat-Light";
  src: url("assets/fonts/Montserrat-Light/Montserrat-Light.woff") format("woff"),
    url("assets/fonts/Montserrat-Light/Montserrat-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("assets/fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff") format("woff"),
    url("assets/fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: "Barlow-Bold";
  src: url("assets/fonts/Barlow-Bold/Barlow-Bold.woff") format("woff"),
    url("assets/fonts/Barlow-Bold/Barlow-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Barlow-ExtraBold";
  src: url("assets/fonts/Barlow-ExtraBold/Barlow-ExtraBold.woff") format("woff"),
    url("assets/fonts/Barlow-ExtraBold/Barlow-ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Barlow-Medium";
  src: url("assets/fonts/Barlow-Medium/Barlow-Medium.woff") format("woff"),
    url("assets/fonts/Barlow-Medium/Barlow-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow-SemiBold";
  src: url("assets/fonts/Barlow-SemiBold/Barlow-SemiBold.woff") format("woff"),
    url("assets/fonts/Barlow-SemiBold/Barlow-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "BarlowCondensed-Bold";
  src: url("assets/fonts/BarlowCondensed-Bold/BarlowCondensed-Bold.woff") format("woff"),
    url("assets/fonts/BarlowCondensed-Bold/BarlowCondensed-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "BarlowCondensed-Regular";
  src: url("assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff") format("woff"),
    url("assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("assets/fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff") format("woff"),
    url("assets/fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("assets/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.woff") format("woff"),
    url("assets/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




*,*:focus,.btn,.btn:focus {
    outline: 0!important;
    text-decoration: none
}
a,button,input {
    outline: 0;
    border: 0;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}
a,a:hover,a:focus,button:hover,button:focus {
    text-decoration: none;
    outline: 0
}
body {
    background: #fff;
    color: #000000;
    font-size: 22px;
    line-height: 27px;
    font-family: "Montserrat-Regular";
    background: url(assets/images/body-bg.jpg)
}
img {
    max-width: 100%;
    height: auto
}
.ulc {
    margin: 0;
    padding: 0;
    list-style: none;
}
.overlay-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10
}
.container {
  max-width: 1175px;
  width: 100%;
}


.container-lg:before,
.container-lg:after{
  content: "";
  display: table;
  clear: both;
}
.container-lg {
  max-width: 1310px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} 

.hide-lg{
  display: block!important;
}
.show-lg{
  display: none!important;
}
.hide-md{
  display: block!important;
}
.show-md{
  display: none!important;
}
.hide-sm{
  display: block!important;
}
.show-sm{
  display: none!important;
}
.hide-xs{
  display: block!important;
}
.show-xs{
  display: none!important;
}


p { margin-bottom: 24px }
a { word-wrap: break-word }
strong{ font-weight: normal }
.plr-30 {
    padding-left: 30px!important;
    padding-right: 30px!important
}
.plr-20 {
    padding-left: 20px!important;
    padding-right: 20px!important
}
.plr-10 {
    padding-left: 10px!important;
    padding-right: 10px!important
}
.plr-5{
    padding-left: 5px!important;
    padding-right: 5px!important
}


h1 {
  font-size: 70px
}
h2 {
  font-size: 50px
}
h3 {
  font-size: 44px
}
h4 {
  font-size: 30px
}
h5 {
  font-size: 26px    
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  line-height: 1.2;  
  font-family: "Anton-Regular";    
}  


/*<div class="fl-jay-hannon-hdr lazy text-center" data-src="assets/images/head-bg-001.png">

<img class="lazy" data-src="assets/images/jay-hannon-top-des-img.png" alt="">*/