.mm-group-sec-1{
	padding: 60px 0 110px;
	color: #fff;
}
.mm-group-sec-1-inr > span{
	color: #ffe400;
	font-size: 24px;
	line-height: 26px;
	display: block;
	font-family: "MyriadPro-Regular";
	padding: 0 0 45px 135px;
}
.mm-group-sec-1 h1{
	text-transform: uppercase;
}



/*Responsive media*/

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}

}
