.dst-ml-15 {
    margin-left: -15px;
}
.dft-text-module p span{
    display: inline-block;
    vertical-align: baseline;
}
span.text-inline-mark-left,
.dft-multiline-bg  span {
    background-size: 100% 100%!important;
    background-repeat: no-repeat!important;
    background-position: center center;
    background-size: contain;
    display: inline-block;
    vertical-align: baseline;
    font-family: 'SourceSansPro-Bold';
    color: #000;
    padding: 0px 20px 1px 15px;
}
span.text-inline-mark-left{
    vertical-align: bottom;
    position: relative;
    top: 2px;
}
.dft-text-module p span.text-inline-mark{
    margin-left: -5px;
    padding-left: 5px;
    padding-right: 12px;
}
.dft-text-module .dft-multiline-bg p:last-child{
    padding-bottom: 18px;
}
.dft-multiline-bg p {
    margin-bottom: 0;
}
.dst-pr-15-sm-15 {
    padding-right: 15px;
    display: inline-block;
    font-style: normal;
}

.fl-ftr-top-sec .dft-text-module{
    padding-right: 20px;
}
.fl-ftr-top-sec .dft-text-module strong{
    display: inline-block;
    vertical-align: baseline;
    font-weight: normal;
    font-family: 'SourceSansPro-Bold';
}
.fl-ftr-top-sec{
    padding-bottom: 27px;
}
.fl-ftr-top-sec ul li a{
    color: #0925d1;
    font-family: "Montserrat-Light";
}
.fl-ftr-top-sec ul li{
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 18px;
}
.fl-ftr-top-sec ul li sup{
    display: inline-block;
    vertical-align: baseline;
    padding-right: 4px;
}
.fl-pkg-sec-ftr-des{
    padding-top: 65px;
    text-align: left;
    padding-bottom: 24px;
}
.pkg-area-con-bg{
    padding: 45px 0 50px;
    background-size: cover!important;
    background-position: center center;
}
.pkg-area-con-bg.pkg-area-con-bg-1{
    padding-top: 0;
}

.fl-pkg-grd-controller > ul{
    margin: 0 -10px;
}

.fl-pkg-grd-controller > ul > li{
    float: left;
    width: 33.333%;
    padding: 0 10px;
}

.fl-pkg-grd-col-btm-bdr{
    background: #097298;
    border-radius: 8px;
    padding-bottom: 4px;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
}
.fl-pkg-grd-col-bdr-solid{
    position: relative;
}
.fl-pkg-grd-col-bdr-solid:before,
.fl-pkg-grd-col-bdr-solid:after{
    content: "";
    background: #bdd4dc;
    position: absolute;
    top: 4px;
    bottom: 2px;
    width: 1px;
    z-index: 1;
}
.order1 .fl-pkg-grd-col-bdr-solid:before,
.order1 .fl-pkg-grd-col-bdr-solid:after{
    background: #ded4d4;
}
.order2 .fl-pkg-grd-col-bdr-solid:before,
.order2 .fl-pkg-grd-col-bdr-solid:after{
    background: #c6dbd7;
    top: 10px;
}
.fl-pkg-grd-col-bdr-solid:before{
    left: -1px;
}
.fl-pkg-grd-col-bdr-solid:after{
    right: 0;
}

.fl-pkg-grd-col{
    padding-bottom: 5px;
    position: relative;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr{
    margin-top: -45px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr{
    background: #d50001;
}
.fl-pkg-grd-controller > ul > li:nth-child(3) .fl-pkg-grd-col-btm-bdr{
    background: #1dad94;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col{
    padding-bottom: 10px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-ftr ul{
    padding-top: 5px;
}

.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-fea-img{
    padding-bottom: 55px;
    padding-top: 70px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-ftr{
    padding-top: 45px;
}
.fl-pkg-grd-col-hdr{
    border-radius: 5px 5px 0 0;
}
.fl-pkg-grd-col-hdr span,.fl-pkg-grd-col-hdr strong{
    display: block;
}

.fl-pkg-grd-col-hdr{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-repeat: repeat-x!important;
    background-size: cover!important;
}
.fl-pkg-grd-col-hdr span{
    font-size: 36px;
    line-height: 38px;
    font-family: 'BarlowCondensed-Bold';
    padding: 20px 10px 30px;
    background-repeat: repeat-x!important;
    border-radius: 5px 5px 0 0;
    text-shadow: 0px 1px #0a61bb;
    letter-spacing: 2px;
}
.order1 .fl-pkg-grd-col-hdr span{
    text-shadow: 0px 1px #b70000;
}
.order2 .fl-pkg-grd-col-hdr span{
    text-shadow: 0px 1px #14b0a4;
}
.fl-pkg-grd-col-hdr strong{
    padding: 0 10px 12px 10px;
    font-size: 40px;
    line-height: 45px;
    font-family: 'BarlowCondensed-Bold';
    text-shadow: 0px 2px #595653;
}
.fl-pkg-grd-col-fea-img{
    margin: 0 auto;
    position: relative;
    display: table;
    padding: 35px 0 45px;
}
.fl-pkg-grd-col-fea-img div{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-col-fea-img span{
    position: absolute;
    right: 32px;
    bottom: 0;
}
.order3 .fl-pkg-grd-col-fea-img span{
    right: 0;
}
.order1 .fl-pkg-grd-col-fea-img span {
    top: 30px;
    right: 32px;
}
.fl-pkg-grd-col{
    background: #f7f7f7;
    border: 3px solid #fff;
    border-radius: 8px;
}
.fl-creditcards{
    padding-left: 8px;
    padding-top: 5px;
}
.fl-pkg-save-price {
    color: #000000;
    padding-top: 0;
}
.fl-pkg-save-price del {
    display: inline-block;
    vertical-align: baseline;
    font-size: 36px;
    line-height: 40px;
    font-family: "Barlow-SemiBold";
    color: #7a7a7a;
    position: relative;
    top: -3px;
    padding-right: 7px;
    padding-left: 5px;
}
.fl-pkg-save-price del:after{
    content: "";
    position: absolute;
    height: 2px;
    background: #7a7a7a;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.fl-pkg-save-price strong {
    font-family: "Barlow-Bold";
    display: inline-block;
    font-weight: normal;
    font-size: 44px;
    line-height: 48px;
}
.fl-footer-wrap{
    background-color: #121c41;
    color: #fff;
    text-align: center;
    padding: 55px 0 50px;
    font-size: 14px;
    line-height: 19px;
}
.fl-footer-wrap p{
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 0;
    font-family: "SourceSansPro-Regular";
    color: #9ea3b6;
}
.fl-copyright p{
    font-size: 14px;
    line-height: 17px;
}
.fl-ftr-nav ul{
    padding-bottom: 20px;
}
.fl-ftr-nav ul li,.fl-ftr-nav ul li a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-ftr-nav ul li{
    font-size: 18px;
    line-height: 20px;
}
.fl-ftr-nav ul li:first-child{
    padding-left: 0;
}
.fl-ftr-nav ul li:last-child{
    padding-right: 0;
}
.fl-ftr-nav ul li a{
    color: inherit;
    font-family: "SourceSansPro-Semibold";
    font-size: 24px;
    line-height: 26px;
    color: #dcdcdc;
}
.fl-ftr-nav ul li a:hover,.fl-ftr-top-sec ul li a:hover{
    opacity: .7;
}
.fl-pkg-grd-ftr{
        padding-left: 10px;
        padding-right: 10px;
        display: table;
        margin: 0 auto;
    padding-top: 20px;
}
.fl-add-to-cart-btn-img{
    margin-bottom: 15px;
}

.fl-add-to-cart-btn-img a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-ftr ul li{
    position: relative;
    padding: 3px 0 15px 40px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'Barlow-Medium';
}
.fl-pkg-grd-ftr ul li em{
    position: absolute;
    left: 0;
    top: 0;
}
.fl-copyright{
    padding-bottom: 30px;
}
.fl-ftr-nav ul li{
    padding: 0 25px;
    position: relative;
}
.fl-ftr-nav ul li:not(:last-child):after{
    content: "";
    width: 3px;
    height: 14px;
    position: absolute;
    left: 100%;
    margin-left: -2px;
    background: #dcdcdc;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-ftr-des{
    color: #9ea3b6;
    padding: 0 61px;
}



.ml-10{
    margin-left: -10px;
}
.pt-10{
    padding-top: 10px;
}
.inline-branding{
    background-color: transparent;
    background-size: 100% 100%!important;
    padding: 0 10px 0 5px;
    margin-left: -5px;
    font-family: "Montserrat-BoldItalic";
    display: inline-block;
}
.fl-pkg-divider-des-sec{
    padding: 0 0 14px 0;
}

.fl-pkg-divider-des-cntlr p span{
    display: inline-block;
    vertical-align: baseline;
    padding-left: 15px;
    padding-right: 30px;
    background-size: 100% 100%!important;
    margin-left: -15px;
}
.fl-pkg-divider-des-cntlr p span strong{
    font-family: "Montserrat-Bold";
}

.mm-part-2-blue-sec{
    color: #fff;
    padding-top: 55px;
    padding-bottom: 64px;
    margin-bottom: 52px;
    background-size: cover!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
}


.mm-part-2-blue-sec-2{
    padding-top: 85px;
}
.t_branding{
    display: inline;
    background: transparent!important;
    color: inherit;
}
.part-2-page-6-cntlr{
    overflow: hidden;
}

@media(max-width: 1199px){

    .fl-ftr-top-sec .dft-text-module {
        padding-right: 40px;
    }
    .ml-10{
        margin-left: 0;
    }
    .mm-part-2-blue-sec-img,
    .fl-des-img-sec-img,
    .mm-part-2-blue-sec-img,
    .mm-group-sec-2-row-1-img,
    .mm-group-sec-2-row-2-img,
    .mm-group-sec-2-row-3-img,
    .mm-group-sec-5-row-1-img,
    .mm-group-sec-5-row-2-img,
    .mm-group-sec-6-img,
    .mm-group-sec-7-img{
        text-align: center;
        padding-bottom: 20px;
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .mm-part-2-blue-sec-2 {
        padding-top: 75px;
    }
    .mm-part-2-blue-sec{
        padding-bottom: 50px;
        margin-bottom: 42px;
    }
    .mm-group-sec-2{
        padding-bottom: 45px;
    }
    .mm-group-sec-3-inr {
        margin-right: 0;
    }
    .mm-group-sec-4-hdr h2 br{
        display: none;
    }
    .mm-group-sec-5-row-2-img {
        position: static;
        left: initial;
        bottom: initial;
        top: initial;
        z-index: 1;
        width: 100%;
    }
    .mm-group-sec-5-row-2-des{
        width: 100%;
    }
    .mm-group-sec-5-row-2-img img{
        border-radius: 0;
    }
    .mm-group-sec-5-row-1-des{
        padding-left: 20px;
        padding-right: 20px;
    }
    .mm-group-sec-6-img {
        padding-top: 0;
    }
}


@media(max-width: 1023px){
    
}


@media(max-width: 991px){
    .fl-pkg-grd-controller > ul > li {
        width: 100%;
        margin-bottom: 20px;
    }
    .fl-pkg-grd-col-btm-bdr {
        max-width: 370px;
        margin: 0 auto;
    }
    .fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr {
        margin-top: 0;
    }

    .fl-ftr-top-sec .dft-text-module {
        padding-right: 0;
    }
    .pkg-area-con-bg{
        padding-top: 0;
        padding-bottom: 35px;
    }
    .mm-group-sec-4-con ul li{
        width: 33.3333%;
    }
    .mm-group-sec-4-con ul li:nth-child(4n+1) {
        clear: initial;
    }
    .mm-group-sec-4-con ul li:nth-child(3n+1) {
        clear: left;
    }
}


@media(max-width: 767px){
    .fl-ftr-des{
        padding: 0;
    }
    .fl-linked-low-head{
        padding: 25px 15px 35px;
    }
    .pkg-area-con-bg{
        padding-bottom: 30px;
    }
    .mm-group-sec-3-heading-txt {
        margin-bottom: 30px;
    }
    .mm-group-sec-3 ul li i{
        max-width: 18px;
    }
    .mm-group-sec-3 ul li i img{
        width: 100%;
    }
    .mm-group-sec-3 ul li{
        padding-left: 35px;
    }
    .mm-group-sec-4-con ul li strong{
        font-size: 18px;
    }
    .mm-group-sec-4-con ul li strong br{
        display: none;
    }
    .mm-group-sec-4-con ul li i{
        padding-left: 10px;
        padding-right: 10px;
    }
    .mm-group-sec-5-hdr h2 br{
        display: none;
    }
}



@media(max-width: 639px){

}
 


@media(max-width: 575px){
    .fl-creditcards{
        padding-left: 0;
    }
    .fl-ftr-nav ul li a{
        font-size: 20px;
    }
    .mm-group-sec-4-con ul li:nth-child(3n+1) {
        clear: initial;
    }
    .mm-group-sec-4-con ul li:nth-child(2n+1) {
        clear: left;
    }
    .mm-group-sec-4-con ul li {
        width: 50%;
    }
    .mm-group-sec-4-con ul li i{
        padding-left: 10px;
        padding-right: 10px;
    }
    .mm-group-sec-5-hdr{
        padding-bottom: 30px;
    }
}


@media(max-width: 479px){
    .fl-ftr-nav ul li {
        padding: 0 16px;
        font-size: 15px;
    }
    .fl-footer-wrap p{
        font-size: 13px;
    }
    .fl-footer-wrap{
        padding: 45px 0 55px;
    }


}



@media(max-width: 359px){

}