.p2-multiline-bg span{ 
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
	padding: 3px 10px;
	margin-left: -10px;
	display: inline;
}
.p2-multiline-bg span strong{
	font-weight: normal;
	font-family: "Montserrat-Bold";
	color: #000;
}
.mm-grp-sec-8-row-1-item .p2-multiline-bg span{
	padding-left: 10px;
}
.mm-group-sec-8{
	padding-top: 55px;
}
.mm-group-sec-8-hdr h2{
	margin: 0;
	color: #071a42;
	text-align: center;
	text-transform: capitalize;
	font-weight: 400;
	margin-bottom: 40px;
}
.mm-grp-sec-8-row-1-des-inner{
	padding-right: 15px;
}

.mm-grp-sec-8-row-1-item ul li{
	margin-bottom: 25px;
	padding-left: 30px;
	color: #262626;
	font-weight: 400;
	position: relative;
}
.mm-grp-sec-8-row-1-item ul li i{
	position: absolute;
	top: -5px;
	left: 0;
}
.mm-grp-sec-8-row-1-item ul li i img{
	width: 100%;
}
.mm-grp-sec-8-row-1-img img{
	width: 100%;
}
.mm-grp-sec-8-row-2-img img{
	width: 100%;
	min-height: 225px;
}
.mm-grp-sec-8-row-2-des{
	margin-bottom: 65px;
}

.mm-group-sec-9-inner{
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(218,217,217,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(218,217,217,1);
	box-shadow: 0px 0px 5px 0px rgba(218,217,217,1);
	border-radius: 8px;
}
.mm-group-sec-9-hdr{
	padding: 20px 30px 30px;
	background-repeat: no-repeat !important;
	background-position: center bottom 1px !important;
	background-size: cover !important;
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 30px;
}
.mm-group-sec-9-hdr h2{
	text-align: center;
	color: #fff;
	text-transform: capitalize;
	margin: 0;
}
.mm-grp-9-row-1-des{
	padding-left: 28px;
}
.mm-grp-9-row-1-des p:last-child{
	margin-bottom: 15px;
}
.mm-grp-9-row-1-img{
	text-align: center;
}
.mm-grp-9-row-1-img img{
	width: 100%;
}

.mm-grp-9-row-2-img{
	height: 525px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-top: -19px;
}
.mm-grp-9-row-2-des{
	padding-right: 30px;
}
.mm-grp-9-row-2-des p{
	padding-bottom: 7px;
	font-weight: 400;
}
.mm-group-sec-10{
	padding-top: 50px;
}
.mm-grp-10-hdr{
	padding-bottom: 35px; 
	text-align: center;
}
.mm-grp-10-hdr h2{
	margin: 0;
	color: #071a42;
	line-height: 52px;
	text-transform: capitalize;
}
.mm-grp-10-des{
	margin-bottom: 25px;
}
.mm-grp-10-img img{
	min-height: 755px;
}
.mm-group-sec-11{
	background-position: center center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	padding-top: 70px;
	padding-bottom: 20px;
}
.mm-grp-11-hdr h2{
	margin: 0;
	color: #fff;
	text-align: center;
	margin-bottom: 45px;
	line-height: 1.4;
}
.mm-grp-11-row-1-img img{
	width: 100%;
}
.mm-grp-11-row-1-des p,
.mm-grp-11-row-2-des p{
	color: #fff;
}
.mm-grp-11-row-2-des p strong{
	color: #ffe400;
	font-weight: 700;
	font-family: "Montserrat-Bold";
}
.mm-grp-11-row-2-des p strong em{
	font-style: italic;
}
.mm-grp-11-row-2-des p sup{
	display: inline-block;
}
.mm-group-sec-12{
	padding-top: 45px;
}
.mm-grp-12-row-1-des{
	padding-top: 70px;
}
.mm-grp-12-row-1-img{
	margin-bottom: 45px;
}
.mm-grp-12-row-1-img img,
.mm-grp-12-row-2-img img{
	width: 100%;
}
.mm-grp-12-row-2-des{
	padding-top: 130px;
}
.mm-group-sec-13{
	padding-top: 50px;
	padding-bottom: 30px;
}
.mm-grp-13-hdr h2{
	margin: 0;
	text-align: center;
	margin-bottom: 32px;
	font-weight: 400;
	color: #071a42;
	text-transform: capitalize;
}
.mm-grp-13-row-1-img img{
	display: inline-block;
}
.mm-grp-13-row-2-img img{
	margin-left: -10px;
	min-height: 345px;
}
.mm-grp-13-row-3-img img{
	width: 100%;
}
.mm-grp-14-inner{
	background: #fff;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(218,217,217,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(218,217,217,1);
	box-shadow: 0px 0px 5px 0px rgba(218,217,217,1);
}
.mm-grp-14-hdr{
	background-position: center center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	text-align: center;
	padding-top: 20px;
}
.mm-grp-14-hdr h2{
	margin: 0;
	color: #fff;
	padding-bottom: 30px;
	font-weight: 400;
	text-transform: capitalize;
}
.mm-grp-14-row-des-inner{
	margin-left: 30px;
}
.mm-grp-14-row-des{
	margin-top: 30px;
}
.mm-grp-14-row-1-img{
	margin-left: 15px;
	margin-bottom: 10px;
}
.mm-grp-14-row-1-img img{
	width: 100%;
}
.mm-grp-14-row-1-des{
	margin-top: 85px;
}
.mm-grp-14-row-1-des,
.mm-grp-14-row-2-img{
	margin-right: 30px;
}
.mm-grp-14-row-1-des strong{
	color: #000000;
	font-family: "Montserrat-Bold";
	font-weight: 700;
	text-transform: capitalize;
}
.mm-grp-14-row-2-des{
	margin-left: 30px;
}
.mm-grp-14-row-2-img{
	margin-bottom: 10px;
}
.mm-grp-14-row-3-inner{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 35px;
	padding-bottom: 42px;
}
.mm-grp-14-row-3-des-left-innr{
	margin-left: 30px;
}
.mm-grp-14-row-3-img{
	margin-left: 20px;
}
.mm-grp-14-row-3-des{
	margin-top: 145px;
}
.mm-grp-14-row-4-des{
	padding-left: 30px;
	padding-top: 70px;
}
.mm-grp-14-row-4-img{
	margin-top: 30px;
	margin-right: 45px;
	margin-bottom: 45px;
}
.mm-grp-14-row-4-img img{
	width: 100%;
}
.mm-group-sec-15{
	margin-top: 50px;
}
.mm-grp-15-hdr h2{
	margin: 0;
	text-align: center;
	font-weight: 400;
	color: #071a42;
	text-transform: capitalize;
	margin-bottom: 40px;
}
.mm-grp-15-row-1-img{
	margin-top: 10px;
}
.mm-grp-15-row-1-img img{
	width: 100%;
}
.mr-20{
	margin-right: -20px;
}
.mr-12{
	margin-right: -12px;
}


/*Responsive media*/

@media(max-width: 1199px){
	.mm-grp-sec-8-row-1-img,
	.mm-grp-sec-8-row-2-img,
	.mm-grp-9-row-1-img,
	.mm-grp-9-row-2-img,
	.mm-grp-10-img,
	.mm-grp-11-row-1-img,
	.mm-grp-12-row-1-img,
	.mm-grp-12-row-2-img,
	.mm-grp-13-row-1-img,
	.mm-grp-13-row-2-img,
	.mm-grp-13-row-3-img,
	.mm-grp-14-row-1-img,
	.mm-grp-14-row-2-img,
	.mm-grp-14-row-3-img,
	.mm-grp-14-row-4-img,
	.mm-grp-15-row-1-img,
	.mm-grp-27-row-3-img{
        text-align: center !important;
        padding-bottom: 30px !important;
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .mm-grp-sec-8-row-1-img img,
    .mm-grp-sec-8-row-2-img img,
    .mm-grp-9-row-1-img img,
    .mm-grp-11-row-1-img img,
    .mm-grp-12-row-1-img img, .mm-grp-12-row-2-img img,
    .mm-grp-13-row-3-img img,
    .mm-grp-14-row-1-img img,
    .mm-grp-14-row-4-img img,
    .mm-grp-15-row-1-img img,
    .mm-grp-25-row-1-img img, .mm-grp-25-row-2-img img, .mm-grp-26-row-1-img img,
    .mm-grp-27-row-3-img img,
    .mm-29-row-1-img img,
    .mm-grp-30-row-1-img img,.mm-grp-31-row-1-img img{
    	width: auto!important;
    }
    .mm-grp-14-row-2-img{
    	margin-bottom: 0!important;
    	padding-top: 20px;
    }
    .mm-grp-9-row-1-img{
    	padding-bottom: 0!important;
    }
    .mm-grp-9-row-2-img{
    	background: transparent!important;
    	text-align: center;
    	height: auto;
    }
    .mm-group-sec-9-hdr h2 br{
    	display: none;
    }
    .mr-20{
		margin-right: 0;
	}
	.mr-12{
		margin-right: 0;
	}
	.mm-grp-9-row-2-des {
	    padding-right: 0px;
	    padding-left: 30px;
	    margin-top: 0px;
	}
	.mm-grp-14-row-1-des {
	    margin-top: 0px;
	    padding-left: 30px;
	}
	.mm-grp-14-row-2-des {
	    margin-top: 20px;
	}
	.mm-grp-14-row-3-des {
	    margin-top: 0px;
	    padding-left: 30px;
	}
	.mm-grp-sec-8-row-2-des {
	    margin-bottom: 50px;
	}
	.mm-grp-12-row-1-des {
	    padding-top: 20px;
	}
	.mm-grp-12-row-2-des {
	    padding-top: 0px;
	}
	.mm-group-sec-13 {
	    padding-top: 30px;
	}
	.mm-grp-14-row-4-des {
	    margin-top: 0;
	    padding-top: 0;
	    padding-bottom: 2px;
	}
	.mm-grp-14-row-4-img {
	    margin-top: 0px;
	    margin-bottom: 0px;
	}
	.mm-group-sec-12 {
	    padding-top: 0px;
	}
	.mm-grp-12-row-1-img {
	    margin-bottom: 0px;
	}
	.mm-grp-9-row-2-des,
	.mm-grp-9-row-1-des{
		padding-left: 20px;
		padding-right: 20px;
	}
	.mm-grp-9-row-2-img{
		padding-top: 20px;
	}
	.mm-grp-10-img img{
		min-height: auto;
	}
}

@media(max-width: 991px){
	.mm-grp-sec-8-row-2-des {
	    margin-bottom: 20px;
	}
	.mm-group-sec-10 {
	    padding-top: 30px;
	}
	.mm-grp-10-hdr {
	    padding-bottom: 20px;
	}
	.mm-group-sec-12 {
	    padding-top: 20px;
	}
	.mm-grp-12-row-1-img {
	    margin-bottom: 0px;
	}
	.mm-grp-12-row-2-des {
	    padding-top: 0px;
	}
	.mm-group-sec-13 {
	    padding-top: 21px;
	}
	.mm-grp-14-row-3-inner {
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	.mm-grp-14-row-4-des {
	    margin-top: 20px;
	}
	.mm-grp-15-hdr h2 {
	    margin-bottom: 20px;
	}
	.mm-group-sec-8-hdr h2 {
		margin-bottom: 20px;
	}
}

@media(max-width: 767px){
	.mm-grp-sec-8-row-1-item ul li {
	    margin-bottom: 15px;
	}

}

@media(max-width: 575px){
	
}