.p4-multiline-bg p span{ 
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
	padding: 3px 10px;
	margin-left: -10px;
	display: inline;
}
.p4-multiline-bg p span strong{
	font-weight: normal;
	font-family: "Montserrat-Bold";
}
.mm-grp-26-row-1-des .p4-multiline-bg p span{
	padding-left: 0;
	margin-left: 0;
	padding-right: 25px;
}
.mm-28-row-1-des .p4-multiline-bg p span{
	padding-right: 30px;
}
.mm-grp-29-row-1-des .p4-multiline-bg p span{
	padding-right: 25px;
}
.mm-group-sec-24{
	margin-top: 20px;
}
.mm-grp-24-item-inner{
	background: #fff;
	border: 10px solid #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(218,217,217,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(218,217,217,1);
	box-shadow: 0px 0px 5px 0px rgba(218,217,217,1);
}
.mm-grp-24-inner ul{
	margin-left: -12px;
	margin-right: -12px;
}
.mm-grp-24-inner ul li{
	float: left;
	width: 50%;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 25px;
}
.mm-grp-24-inner ul li:nth-child(2n+1){
	clear: left;
}
.mm-grp-24-item-hdr{
	height: 260px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center; 
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: -10px;
    margin-right: -10px;
}
.mm-grp-24-item-hdr h4{
	color: #ffe400;
	font-family: "Montserrat-Bold";
	font-weight: 700;
}
.mm-grp-24-item-des{
	margin-left: 20px;
	margin-top: 30px;
	padding-bottom: 10px;
}
/*.mm-grp-24-item-des p{
	font-size: 30px;
	font-family: "Montserrat-Regular";
	font-weight: 400;
}*/
.Hmc{
	min-height: 250px;
}
.hmc{
	min-height: 175px;
}
.mm-grp-24-inner ul li:first-child .mm-grp-24-item-inner{
	border-bottom-right-radius: 32px;
}
.mm-grp-24-inner ul li:nth-child(2) .mm-grp-24-item-inner{
	border-bottom-left-radius: 32px;
}
.mm-grp-24-inner ul li:nth-child(3) .mm-grp-24-item-inner{
	border-top-right-radius: 32px;
}
.mm-grp-24-inner ul li:last-child .mm-grp-24-item-inner{
	border-top-left-radius: 32px;
}
.mm-grp-24-item-inner{
	position: relative;
	z-index: 2;
}
.mm-grp-24-inner{
	position: relative;
}
.mm-grp-24-bg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	margin-top: -50px;
}
.mm-group-sec-25{
	padding-top: 25px;
}
.mm-grp-25-row-1-img img,
.mm-grp-25-row-2-img img,
.mm-grp-26-row-1-img img{
	width: 100%;
}
.mm-group-sec-26{
	padding-top: 30px;
}
.mm-grp-26-hdr{
	max-width: 955px;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    text-align: center;
    padding: 33px 15px 37px 140px;
    position: relative;
    margin-bottom: 35px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(218,217,217,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(218,217,217,1);
	box-shadow: 0px 0px 5px 0px rgba(218,217,217,1);
}
.mm-grp-26-hdr strong{
	position: absolute;
    left: 30px;
    top: 25px;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    font-family: "Anton-Regular";
}
.mm-grp-26-hdr h3{
	margin: 0;
    color: #071a42;
    text-align: center;
}
.mm-grp-26-row-1-des{
	padding-right: 5px;
}
.mm-group-sec-27{
	padding-top: 25px;
}
.mm-grp-27-hdr h2{
	text-align: center;
	margin: 0;
	margin-bottom: 40px;
	text-transform: capitalize;
	font-weight: 400;
}
.mm-grp-27-row-2-img img{
	min-height: 630px;
}
.mm-grp-28-inner{
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(218,217,217,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(218,217,217,1);
	box-shadow: 0px 0px 5px 0px rgba(218,217,217,1);
	border-radius: 10px;
}
.mm-28-hdr{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 20px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.mm-28-hdr h2{
	text-align: center;
	color: #fff;
	text-transform: capitalize;
	padding-bottom: 30px;
}
.mm-grp-28-row-1-img,
.mm-grp-28-row-2-des{
	margin-left: 30px;
}
.mm-28-row-1-des{
	margin-right: 30px;
	margin-top: 20px;
}

.mm-grp-28-row-2-des{
	width: 46%;
	position: relative;
	z-index: 4;
}
.mm-grp-28-row-2-img{
	position: absolute;
	top: 41px;
	right: 15px;
	bottom: 0;
	z-index: 3;
}
.mm-grp-28-row-2-img img{
	width: 100%;
}
.mm-group-sec-28{
	margin-bottom: 60px;
}
.mm-grp-28-row-2-cntlr{
	overflow: hidden;
}
.mm-29-row-1-img img{
	width: 100%;
}
.mm-group-sec-30{
	padding-top: 50px;
	padding-bottom: 15px;
}
.mm-grp-30-hdr h2{
	text-align: center;
	color: #071a42;
	font-weight: 400;
	margin: 0;
	margin-bottom: 35px;
}
.mm-grp-30-row-1-img{
	text-align: right;
}
.mm-grp-30-row-1-img img{
	width: 100%;
}
.mm-group-sec-31{
	margin-bottom: 50px;
	padding-top: 70px;
	padding-bottom: 30px;
}
.mm-grp-31-hdr h2{
	text-align: center;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 25px;
}
.mm-grp-31-row-1-img img{
	width: 100%;
}
.mm-grp-31-row-1-des p,
.mm-grp-31-row-2-des p{
	color: #fff;
}
.ml-5{
	margin-left: -5px !important;
}