.mm-group-sec-16{
	padding-top: 70px;
	padding-bottom: 30px;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}
.true-cause-head{
	text-align: center;
}
.true-cause-head h2{
	margin: 0;
	color: #fff;
	margin-bottom: 35px;
}
.true-cause-head h2 strong{
	display: inline-block;
	vertical-align: baseline;
	font-style: italic;
	color: #ffe400;
}
.true-cause-dsc-btm,
.true-cause-dsc{
	color: #fff;
}
.true-cause-dsc-btm p em{
	font-style: italic;
	font-family: "Montserrat-Regular";
}

.mm-group-sec-17{
	padding-top: 65px;
	padding-bottom: 25px;
}
.mm-group-sec-17-head h2{
	margin: 0;
	color: #071a42;
	text-align: center;
	margin-bottom: 30px;
}
.mm-group-sec-17-tp-dsc{
	margin-top: -5px;
}
.mm-group-sec-17-m-img{
	padding-top: 15px;
}
.mm-group-sec-17-middle-dsc {
    padding-top: 5px;
    padding-bottom: 10px;
}
.mm-group-sec-37-btm-dsc ul,
.mm-group-sec-35-list-dsc ul,
.mm-group-sec-17-dsc ul,
.mm-group-sec-17-middle-dsc ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.mm-group-sec-37-btm-dsc ul li,
.mm-group-sec-35-list-dsc ul li,
.mm-group-sec-17-dsc ul li,
.mm-group-sec-17-middle-dsc ul li{
	padding-left: 25px;
	padding-bottom: 20px;
	font-size: 22px;
	font-family: "Montserrat-Regular";
	position: relative;
}
.mm-group-sec-37-btm-dsc ul li img,
.mm-group-sec-35-list-dsc ul li img,
.mm-group-sec-17-dsc ul li img,
.mm-group-sec-17-middle-dsc ul li img{
	position: absolute;
	left: 0;
	top: 5px;
	max-width: 18px;
	width: 100%;
}
.mm-group-sec-17-f-img{
	padding-top: 30px;
	padding-bottom: 40px;
}
.mm-group-sec-17-f-dsc p em{
	font-style: normal;
	font-family: "Montserrat-Bold";
}
.mm-group-sec-17-profile{
	padding: 15px 25px 10px;
}
.mm-group-sec-17-profile ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.mm-group-sec-17-profile ul li{
	-webkit-box-shadow: 0 0 7px 1px rgba(207,205,205,1);
    -moz-box-shadow: 0 0 7px 1px rgba(207,205,205,1);
    box-shadow: 0 0 7px 1px rgba(207,205,205,1);
    border-radius: 25px;
    background:#fff;
    padding: 4px;
    margin-bottom: 20px;
}
.mm-group-sec-17-profile-inr{
	display: flex;
	align-items: center;
	background:#0370c9;
	border-radius: 25px;
	padding: 7px;
}
.mm-group-sec-17-profile-img {
    float: left;
    max-width: 124px;
    width: 100%;
}

.mm-group-sec-17-profile-dsc{
	padding: 15px 20px 15px 20px;
	color: #fff;
}
.mm-group-sec-17-profile-dsc p{
	margin-bottom: 13px;
}
.mm-group-sec-17-profile-dsc em{
	font-family: "Montserrat-BoldItalic";
	line-height: 1.1;
}
.mm-group-sec-18{
	padding-bottom: 50px;
}
.mm-group-sec-18-wrp{
	background:#fff;
	-webkit-box-shadow: 0 0 7px 1px rgba(207,205,205,1);
    -moz-box-shadow: 0 0 7px 1px rgba(207,205,205,1);
    box-shadow: 0 0 7px 1px rgba(207,205,205,1);
    border-radius: 10px;
    padding-bottom: 10px;
}
.mm-group-sec-18-head{
	color: #fff;
	padding: 15px 20px 15px;
	margin-bottom: 35px;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center bottom 1px !important;
	border-radius: 10px 10px 0 0;
}
.mm-group-sec-18-tp-dsc{
	padding-left: 30px;
}
.mm-group-sec-18-head h2{
	margin: 0;
	position: relative;
}
.mm-group-sec-18-head h2 sup {
    font-size: 16px;
    line-height: 18px;
    font-family: "Montserrat-Regular";
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
}
.mm-group-sec-18-dsc {
    padding-right: 5px;
}


.mm-group-sec-19-head{
	max-width: 845px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 33px 15px 37px 140px;
	position: relative;
	margin-bottom: 35px;
	-webkit-box-shadow: 0 0 7px 1px rgba(207,205,205,1);
    -moz-box-shadow: 0 0 7px 1px rgba(207,205,205,1);
    box-shadow: 0 0 7px 1px rgba(207,205,205,1);
    background: #fff;
    border-radius: 25px 0 0 25px;
}
.mm-group-sec-19-head strong {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 150px;
    width: 100%;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    font-family: "Anton-Regular";
    bottom: 0;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: left center !important;
    border-radius: 25px 0 0 25px;
    padding: 22px 34px 10px 10px;
}
.mm-group-sec-19-head h3{
	margin: 0;
	color: #071a42;
}


.mm-group-sec-19-img{
	text-align: right;
}
.mm-group-sec-19-full-img{
	padding-bottom: 25px;
	text-align: center;
}
.mm-group-sec-19{
	padding-bottom: 15px;
}

.mm-group-sec-20 {
    padding-top: 65px;
    padding-bottom: 30px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.mm-group-sec-20-head{
	text-align: center;
	color: #fff;
}
.mm-group-sec-20-head h2{
	margin-bottom: 25px;
}
.mm-group-sec-20-dsc{
	color: #fff;
}
.mm-group-sec-20-dsc p strong{
	color: #ffe400;
	font-family: "Montserrat-Bold";
}

.mm-group-sec-21{
	padding-top: 50px;
	padding-bottom: 10px;
}
.mm-group-sec-21-head h2{
	text-align: center;
	color: #071a42;
	margin: 0;
	margin-bottom: 35px;
}
.mm-group-sec-21-img img{
	width: 100%;
}

.mm-group-sec-22-lft-dsc{
	padding-left: 30px;
}

.mm-group-sec-23{
	padding: 45px 0;
}

.mm-group-sec-22-rgt-dsc p span{
    background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
    background-position: center center!important;
    padding: 0 5px 2px;
    margin-left: -4px;
    margin-right: -4px;
}
.mm-group-sec-22-rgt-dsc p span strong{
	font-family: "Montserrat-Bold";
}
.mm-group-sec-22-rgt-dsc {
    padding-right: 38px;
}
.mm-group-sec-22-lft-img{
	padding-left: 40px;
	text-align: center;
}
.mm-group-sec-23-head h2{
	margin: 0;
	text-align: center;
	color: #071a42;
	margin-bottom: 25px;
}
.mm-group-sec-13-tp-dsc{
	padding-top: 10px;
}

/*Responsive media*/

@media(max-width: 1199px){
	.mm-group-sec-23-img,
	.mm-group-sec-22-lft-img,
	.mm-group-sec-22-img,
	.mm-group-sec-21-img,
	.mm-group-sec-20-img,
	.mm-group-sec-19-img,
	.mm-group-sec-18-img,
    .mm-group-sec-17-m-img,
    .mm-group-sec-17-img,
    .true-cause-img{
    	text-align: center;
    	padding-bottom: 30px;
    }
    .mm-group-sec-35-btm-lft-img{
    	text-align: center;
    }
    .mm-group-sec-21-img img {
	    width: auto;
	}
    .mm-group-sec-17-profile-dsc em br{
    	display: none;
    }
    .mm-group-sec-22-rgt-dsc,
    .mm-group-sec-22-lft-dsc,
    .mm-group-sec-18-dsc {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.mm-group-sec-18-tp-dsc {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.mm-group-sec-22-lft-img{
		padding-left: 0;
	}
	.mm-group-sec-18-img{
		padding-left: 10px;
		padding-right: 10px;
	}

}

@media(max-width: 991px){
	.mm-group-sec-17-head h2 br{
		display: none;
	}    
	.mm-group-sec-19-head h3 {
	    font-size: 38px;
	}
	.mm-group-sec-20-head h2 br{
		display: none;
	}
	
}

@media(max-width: 767px){
	.mm-group-sec-16 {
	    padding-top: 50px;
	}
	.mm-group-sec-20{
		padding-top: 50px;
	}
	.true-cause-head h2 {
	    margin-bottom: 25px;
	}
	.mm-group-sec-17 {
	    padding-top: 50px;
	}
	.mm-group-sec-17-profile {
	    padding: 15px 0px 10px;
	}
	.mm-group-sec-17-profile-img {
	    float: none;
	    max-width: 100%;
	    width: 100%;
	}
	.mm-group-sec-17-profile-inr {
	    display: inline-block;
	    align-items: baseline;
	    width: 100%;
	}
	.mm-group-sec-17-profile-dsc {
	    padding: 15px 5px 15px 5px;
	}
	.mm-group-sec-17-profile-dsc em{
		font-size: 20px;
	}
	.mm-group-sec-17-f-img {
	    padding-top: 20px;
	    padding-bottom: 30px;
	}
	.mm-group-sec-18-head h2 br,
	.mm-group-sec-23-head h2 br{
		display: none;
	}
	.mm-group-sec-19-head {
	    padding: 15px 15px 20px 152px;
	}
	.mm-group-sec-19-head h3 {
	    font-size: 38px;
	    min-height: 90px;
	}
	.mm-group-sec-19-head {
	    padding: 15px 15px 20px 178px;
	}


}

@media(max-width: 575px){
	.mm-group-sec-22-rgt-dsc,
    .mm-group-sec-22-lft-dsc,
    .mm-group-sec-18-dsc {
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.mm-group-sec-19-head {
	    padding: 15px 15px 20px 155px;
	}
	.mm-group-sec-19-head strong{
		display: none;
	}
	.mm-group-sec-19-head {
	    padding: 20px 15px 20px 15px;
	    border-radius: 0;
	}
	.mm-group-sec-19-head h3 {
	    font-size: 28px;
	    min-height: auto;
	}
	.mm-group-sec-18-head h2 sup{
		padding-top: 12px;
	}
	.mm-group-sec-19-head{
		margin-bottom: 30px;
	}

}


